.project-card {
  --translate: 0 -3px;

  position: relative;
  max-width: 350px;
  overflow: hidden;
  color: var(--color-dark);
  background-color: var(--color-light-alt);
  border-radius: var(--border-radius);
  transition-duration: var(--transition-duration);

  @include tablet {
    width: 300px;
  }

  @include hover {
    box-shadow: var(--shadow);
    translate: var(--translate);
  }

  &--live {
    &::after {
      @include square(21px);

      content: "";
      position: absolute;
      top: 17px;
      right: 17px;
      background: url(/public/icons/eye.svg) no-repeat center/100%;
      animation: fade 2.5s infinite ease-in;
    }
  }

  &__video {
    width: 330px;
    height: 300px;
    object-fit: cover;
    transition-duration: var(--transition-duration);

    @include tablet {
      height: 250px;
    }

    &.is-hovered {
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    }
  }

  &__body {
    padding: 20px;

    @include mobile {
      padding: 15px;
    }
  }

  &__label {
    @include fluid-text(10, 9);

    display: inline-block;
    // margin-bottom: 3px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 10px;
    color: var(--color-dark);

    @include mobile {
      margin-bottom: 8px;
    }
  }

  .references__link {
    transition-duration: 0.5s;

    @include hover {
      opacity: 1;
      transform: translateY(-0.8px);
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
