.tech-card {
  --techCardImageWrapperBackgroundColor: #2a2a2a;
  --techCardInvertValue: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;

  @include mobile {
    row-gap: 10px;
  }

  &--html {
    --techCardImageWrapperBackgroundColor: #e34f26;
  }

  &--css {
    --techCardImageWrapperBackgroundColor: #1572b6;
  }

  &--scss {
    --techCardImageWrapperBackgroundColor: #cd6799;
  }

  &--js {
    --techCardImageWrapperBackgroundColor: #f7df1e;
  }

  &--ts {
    --techCardImageWrapperBackgroundColor: #3178c6;
  }

  &--react {
    --techCardImageWrapperBackgroundColor: #61dafb;
  }

  &--no-invert {
    --techCardInvertValue: 0;
  }

  &__image-wrapper {
    @include square(140px);
    @include center-content;

    @include mobile {
      @include square(135px);
    }

    padding: 4px;
    background-color: var(--techCardImageWrapperBackgroundColor);
    border-radius: var(--border-radius);
    transition-duration: var(--transition-duration);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35),
      inset 0 4px 8px rgba(255, 255, 255, 0.3),
      inset 0 -4px 8px rgba(0, 0, 0, 0.4), 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  &__image {
    filter: invert(var(--techCardInvertValue));

    @include mobile {
      max-width: 120px;
    }
  }

  &__label {
    font-size: 15px;
    user-select: none;
  }
}
