body {
  @include fluid-text(18, 16);

  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-light);
  background-color: var(--color-dark);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1;
  color: var(--color-light);
}

section {
  padding-block: var(--section-padding-y);
}

dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;

  &:modal {
    max-width: 100%;
    max-height: 100%;
  }
}

main {
  overflow: hidden;
}

h1,
.h1 {
  @include fluid-text(55, 45);
}

h2,
.h2 {
  @include fluid-text(42, 36);
}

h3,
.h3 {
  @include fluid-text(34, 28);
}

h4,
.h4 {
  @include fluid-text(26, 24);
}

h5,
.h5 {
  @include fluid-text(20, 16);
}
