.technologies {
  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 30px;

    @include mobile {
      gap: 20px;
    }
  }
}
