.technologies {
  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
    margin-bottom: 30px;

    @include desktop {
      justify-content: center;
      column-gap: 60px;
    }

    @include mobile {
      gap: 40px;
    }
  }
}
